*{
    margin: 0px;
    padding: 0px;
}

#mainContainer{
    height: 40vh;
    width: 100%;
    background-color: yellow;
   
}

#imgCover{

    height: 100%;
    width: 100%;
}

.login{
    position: relative;
    left: 900px;
    bottom: 263px;
    /* background-color: yellow; */
   
    
}

.login input{
    border-radius: 20px;
    height: 10px;
    padding: 5px;
    text-align: center;
}

.login input button{
    height: 30px;
}

.post{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 8vh;
    width: 100vw;
    background-color: rgb(192, 185, 185);
    padding: 5px;
}

.post h2{
    margin: 0px 10px;
}

.containerAbout{
    background-color: yellow;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBox{
    height:90% ;
    width: 49%;
    background-color: brown;
}

.rightBox{
    height:90% ;
    width: 49%;
    background-color: rgb(13, 199, 75);
}