@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Radio+Canada+Big:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Radio+Canada+Big:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --main-bg-color:#bd6418; 
    --font1:"Roboto Condensed", sans-serif;
    --font2:"Lato", sans-serif;
}
.font1{
    font-family: var(--font1);

}
.font2{
    font-family: var(--font2);

}

.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}

.my-2{
    margin-bottom: 32px;
    margin-top: 32px;
}

.btn{
    padding: 0px 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.4s ease-in-out;
    

}
.btn:hover{
    background-color: var(--main-bg-color);
    color: white;
   
    

}

.form-input{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);

}

.form-box input, textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
    border-radius: 5px;
}