footer{
    height: 650px;
    
    
}
.panel1{
    height:325px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("th.jpeg");
    background-size: cover;
}

.inner{
    height:70px;
    width:550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.inner button {

    height:40px;
    width:250px;
    background-color: rgb(227, 205, 118);
    color:white;
    font-family: sans-serif;
    font-weight: bolder;


}
.inner h1 {
    color:white;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.panel2{
    height:355px;
    
}

.icon{
    height:50px;
    width:300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    margin-left: 120px;
    position: relative;
    top: 290px;
    left:850px;
}

.icon i {
    font-size: 30px;
    color:white;
    
}
.about{
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style-type: none;
}

ul a {
    text-decoration: none;

}

.panel2{
    background-color: rgb(26, 40, 82);
}

ul h2 {
    color:rgb(239, 206, 20)
}
ul li a {
    color:white;
    opacity: 0.7;
}
.copyright{
    color:white;
    margin-left: 160px;
    opacity: 0.7;
    position: relative;
    top:15px
}
.copyright a {
    padding-left: 15px;
    text-decoration: none;
    color:white;
    opacity: 0.7;
}
hr{
    opacity: 0.4;
}

.inner button {
    font-family: sans-serif;
    font-weight:900;
    font-style: italic;
}

ul li a:hover{
    border-bottom: 1px solid white;
}


