.div1{
    height:800px;
    display: flex;

    justify-content: center;
    align-items: center;
    
}


input{
    height:35px;
    width:250px;
}
select{
    height:35px;
    width:260px;

}

button{
    margin-left: 75px;
}