/* .container{
    height:680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height:400px;
    width:400px;
    background-color: darkgray;
    
}
input{
    height:25px;
    width:250px;
    
}
th{
    font-size: 30px;
}
button{
    height:30px;
    width:130px;
    color:white;
    background-color: rgb(0, 30, 255);
    position: relative;
    top:15px;
    margin-left: 140px;
    border-radius: 10px;
}
body{
    background-color:rgba(100, 148, 237, 0.641);
}
table{
    margin-top: 80px;
} */