body{

    background-color: rgb(23, 112, 164);
}

ul{
    list-style-type: none;
    font-size: 30px;
    gap:5px
}
ul li{
    margin-top: 5px;
}

button{
    background-color:rgba(6, 6, 244, 0.605);
    height:25px;
    width:100px;
    border-radius: 20px;
    color:white
}

#quiz{
    height:70vh;
    width:70vh;
    background-color: white;
    margin-top: 120px;
}

.quiz-section{
    display: flex;
    justify-content: center;
    align-items: center;
}